{%extends 'basic.html' %}
{% load static %}
{%block body%}

<h1>COMO QUE 33</h1>
<br>
<div>
<p style="text-align: center;">
   

    Bienvenidos a "¿CÓMO QUE 33?", la página web definitiva para los amantes de la Fórmula 1 y todos aquellos interesados en seguir el campeonato actual de la máxima categoría del automovilismo. <br><br>

    En "¿CÓMO QUE 33?" nos apasiona la Fórmula 1 y todo lo que la rodea. Nuestra misión es proporcionar a nuestros visitantes la información más completa y actualizada sobre la temporada actual de la Fórmula 1, así como noticias y análisis detallados sobre las carreras, los equipos, los pilotos y todo lo relacionado con el mundo de la Fórmula 1.<br><br>
    
    Nos esforzamos por brindar a nuestros visitantes una experiencia única y emocionante mientras navegan por nuestra página. Ofrecemos una amplia gama de secciones, incluyendo las últimas noticias, resultados y clasificaciones, comentarios y análisis de expertos, características especiales y mucho más. Además, nuestros visitantes pueden disfrutar de una amplia variedad de contenido multimedia, incluyendo fotos, videos y podcasts.<br><br>
    
    En "¿CÓMO QUE 33?" nos enorgullece nuestra pasión por la Fórmula 1 y nuestro compromiso con la excelencia. Nuestro equipo de expertos está compuesto por aficionados apasionados y profesionales de la Fórmula 1 que trabajan incansablemente para proporcionar la información más precisa y detallada posible.<br><br>
    
    Nos esforzamos por ofrecer a nuestros visitantes la mejor experiencia posible en nuestra página web, y esperamos que encuentren todo lo que buscan en "¿CÓMO QUE 33?". ¡Gracias por visitarnos!

    
</p>
</div>
<div id="Fotos">
<img src="/static/media/elbraiso.png" class="imgRedonda">
<img src="/static/media/armando.png" class="imgRedonda">
<img src="/static/media/raul.png" class="imgRedonda">
</div>
{%endblock body%}    
