{%extends 'basic.html' %}

{%block body%}
{% if errMsg %}
    <h1 style="color: red; "><b>ERROR: {{ errMsg }} </b></h1>
    <br>
    <form action="{% url 'comparation' %}" method="get" style="text-align: center">
        <button style="color: black; background-color: rgb(184, 184, 184); border-radius:35px; border-width: 3px; padding-left:5px; padding-right:5px" type="submit">GO BACK!</button>
    </form>
    <br>
    <br>
    <div style="text-align: center;">
    <img src="/static/media/MV.gif" width="900" height="600">
    </div>
{% else %}
<h1 style="text-align: center;">COMPARATION BETWEEN DRIVERS</h1>
<br>
<div> 
    <br>
    <form method="POST" style="text-align: center;">
        {% csrf_token %}
        <select name="comp_driver1" id="comp_driver1" required>
            <option selected value="" disabled>Select first driver</option>
            {% for driver in comp_driver1 %}
                <option value="{{ driver }}">{{ driver }}</option>
            {% endfor %}
        </select>
        <select name="comp_driver2" id="comp_driver2" required>
            <option selected value="" disabled>Select second driver</option>
            {% for driver in comp_driver2 %}
                <option value="{{ driver }}">{{ driver }}</option>
            {% endfor %}
        </select>
        <select name="comp_gptag" id="comp_gptag" required>
            <option selected value="" disabled>Select Grand Prix</option>
            {% for gptag in comp_gptag %}
                <option value="{{ gptag }}">{{ gptag }}</option>
            {% endfor %}
        </select>   
        <br> 
        <br>
        <input id="boton" type="submit" value="Submit">
        <br>
        <br>
    </form>
    <form action="{% url 'comparation' %}" method="get" style="text-align: center">
        <button style="color: black; background-color: rgb(184, 184, 184); border-radius:35px; border-width: 3px; padding-left:5px; padding-right:5px" type="submit">Select other year</button>
    </form>
    <br>
    <div style="text-align: center;">
    {% if plot %}
    <img id="plot-image" src="data:image/png;base64,{{ plot }}" width="900" height="600">
    {% endif %}
    </div>
</div>
{% endif %}
{% endblock body %}







